header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 30px;
}

.content-container {
  display: flex;
  height: 80vh;
  justify-content: space-around;
}

.example {
  border: 1px solid #aaa;
  border-radius: 5px;
  height: 600px;
  width: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.content p {
  font-size: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .btn-container {
  display: flex;
  width: 200px;
  justify-content: space-around;
}

.content .btn {
  background-color: #aaa;
  border: none;
  font-size: 30px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

